---
import AposArea from '@apostrophecms/apostrophe-astro/components/AposArea.astro';
const { page, user, query } = Astro.props.aposData;
const { main } = page;
---

<section class="bp-content">
    <div class="mt-5 ms-5">
        <h1 class="text-dark mb-5" style="font-size: 64px"><b><i>Welcome.</i></b></h1>
        <a href="/tire" class="btn btn-warning btn-gradient mb-4">Voir les pneus</a>
        <br>
        <a href="/tire" class="btn btn-warning btn-gradient mb-4">Voir les jantes</a>
        <br>
        <a href="https://www.dofus.com/fr" class="btn btn-warning btn-gradient mb-4">Trouver son bonheur</a>
    </div>
    <AposArea area={main} />
</section>
